@font-face {
	font-family: impact;
	src: url("../res/font/impact.eot"),
		url("../res/font/impact.otf"),
		url("../res/font/impact.svg"),
		url("../res/font/impact.ttf"),
		url("../res/font/impact.woff");
}
html,body{
	height: 100%;
	margin: 0;
}
body {
	top: 0;
	background-color: #1E1E1E;
	font-size: 100%;
	font-family: 微软雅黑;
}

#container {
	/*width: 320px;
	height: 400px;
	margin-top: 100px;
	position:static;
	align-self:center;*/
	padding: 0;
	margin: 0;
	height:100%;
	min-width: 232px;
	min-height: 500px;
	-webkit-box-align: stretch;
	
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
.registerWrap{
	padding: 0;
	margin: 0;
}
/* logo图文部分 */
#bannerHolder {
	margin: 0;	
	width: 100%;/* 如果宽度为100%，则对齐没有效果 */
	font-family: impact;
}

/*错误提示语*/
#tipHolder{
	width:100%;
	background: #FF6A6A;
	text-align:center;
	line-height: 3rem;
	overflow: hidden;
	font-size: 1.2rem;
	font-family: "微软雅黑", "STHeiti", "华文黑体";
	color: #EDEDED;
	position: fixed;
	top: 1px;
	display: none;
}
#tip {
	padding:0;
	margin-top: 10px;
	margin-bottom: -10px;
	line-height: 30px;
	text-align: center;
	font-family: "Microsoft Yahei", "微软雅黑", "STHeiti", "华文黑体";
	font-size: 1.2rem;
	font-weight: bold;
	color: #fff;
}
.oneletter{
	
	letter-spacing: 20px;
}
@media all and (max-width:639px)
{
	.registerWrap{
		height:100%;
	}
	#bannerHolder{
		margin-top: 20px;
		padding: 10px;
		box-sizing: border-box;
		display: block;
	}
	#bodyWrap{
		margin: 0;
		width: 100%;
		padding: 20px;
		box-sizing: border-box;
		position: absolute;
		right: 0;
	}
	#inputHolder{
		margin: 0;
		padding: 0;
		display: block;
	}
	#tipHolder{
		line-height: 1.5rem;
		font-size: 0.8rem;
	}
}
@media all and (min-width:639px)
{
	.registerWrap{
		width: 370px;
		min-height:200px;
		-webkit-box-align: stretch;
		display: flex;
		align-items: stretch;
		-webkit-box-orient:vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		flex-shrink: 0;/*不缩小*/
	}
	#bodyWrap{
		width: 100%;
		margin:0;/* 上下，左右 */
	}
	/* 输入框部分 */
	#inputHolder {	
		width:100%;
		padding:20px;
		box-sizing: border-box;
	}
}
/*********************************************************/
/*bannerHolder部分*/
img{
	width:18%;
	min-width:4.5rem;
}
	/* logo图 */
#logo {
	vertical-align: middle;
}
/*Toption字*/
#banner {
	font-size: 3.8rem;/* 80px /16px*/
	letter-spacing:0;/* 2px/16px */
	vertical-align: middle;		
}
/* 大写字母 */
#bannerUpper {
	color: #4F94CD;
}
/* 小写字母 */
#bannerLower {
	color: #A6A6A6;
}

/* 用户名和密码输入框 */
.input{
	font-size: 0.88rem;/* 14.08px */
	margin-bottom: 17px;
	font-family: 'Tw Cen MT',"Microsoft Yahei", "微软雅黑", "STHeiti", "华文黑体";
	color:#333;
	width:100%;
	padding: 9px 8px 7px;
	boxing-sizing:border-box;
    -webkit-box-sizing:border-box;
	
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #a6a6a6;
	border-radius: 0.2rem;
}
.label{
	margin-left: 5px;
	margin-bottom: 5px;
	padding: 0;
	display: block;
	font-weight: 100;
	font-size: 0.85rem;
	color:#fff;
	font-family: 宋体;
}
.grayWords{
	color:#dedede;
	font-size: 0.78rem;
}


.button{
	margin-top: 10px;
	font-size:1rem;/* 16px */
	font-family:'Microsoft Yahei','微软雅黑','STHeiTi','华文黑体';
	color:#fff;
	font-weight: 600;
	text-align: center;
	background:#636363;
	border:0;
	border-radius:0.3rem;
	padding:8px 15%;/* 上下，左右 */
	outline: none;
	width:100%
}

button:hover {
	border-width:0;
	background: #4D4D4D;
}
